@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1">Zadanie nr 4</h1>
    <p class="display-4">Programowanie zaawansowane</p>
</div>
